// app global css in SCSS form
.bg-light-toolbar {
  background-color: #c4ac23; /* Light toolbar color */
}

.bg-light-left-panel {
  background-color: #ffffff; /* Light left panel color */
}

/* Dark theme background colors */
.bg-dark-toolbar {
  background-color: rgb(201, 75, 107); /* Dark toolbar color */
}

.bg-dark-left-panel {
  background-color: dark; /* Dark left panel color */
}
